@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: PT sans, sans serif;
  font-style: italic;
}
.section-center {
  max-width: 1170px;
  margin: 0 auto;
  width: 90vw;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e3e6f3;
  margin: 0 auto;
  padding: 20px 30px;
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
}
header img {
  margin-left: 5px;
  cursor: pointer;
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 400px;
  font-size: 20px;
}
header span {
  display: none;
}
header nav a {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  margin-right: 8px;
  color: black;
}
header nav i {
  cursor: pointer;
  align-self: center;
}
header nav i:hover {
  text-decoration: underline;
  color: #088178;
}
header nav a:hover {
  color: #088178;
  text-decoration: underline;
}
nav .select {
  color: #088178;
  text-decoration: underline;
}
.cover {
  background-image: url(hero4.png);
  width: 100vw;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: 100%;
  position: relative;
  width: 100%;
}
.cover img {
  width: 100%;
  background-position: bottom;
}
.cover div {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 35%;
  left: 7%;
}
.cover div h3 {
  font-size: 20px;
}
.cover div h2 {
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.cover p {
  color: #271f1fb4;
  margin-top: 5px;
  margin-bottom: 10px;
}
.cover button {
  background-image: url(button.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  padding: 30px;
  margin-left: 40px;
  cursor: pointer;
}
.categories {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  column-gap: 10px;
}
.categories div {
  border: solid 1px #ddd;
  text-align: center;
  padding: 20px;
  width: calc(100% / 6);

  cursor: pointer;
}
.categories div:hover {
  box-shadow: 5px 5px 15px 0px #ddd;
}
.categories div img {
  width: 100%;
}
.categories div button {
  border: none;
  margin-top: 10px;
  padding: 6px;
  color: #088178;
}
.featured {
  margin-bottom: 7rem;
}
.titre {
  text-align: center;
}
.titre h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
.titre p {
  color: #465b52;
  margin-bottom: 40px;
}

.featured article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2rem;
}
.featured article div {
  border: 2px solid #e3e6f3;
  border-radius: 25px;
  padding: 1rem;
  flex: 0 0 calc(25% - 1rem);
  cursor: pointer;
}
.featured article div:hover {
  box-shadow: 5px 5px 15px 0px #ddd;
}
.featured article div img {
  width: 100%;
  border-radius: 25px;
}
.ad {
  color: #465b52;
  margin: 10px 0px 8px;
}
.fa-star {
  color: gold;
  margin: 8px 0px;
}
.cart-shop {
  display: flex;
  justify-content: space-between;
}
.cart-shop p {
  color: #088178;
  font-weight: bold;
  font-size: 20px;
  align-self: center;
}
.cart-shop i {
  color: #088178;
  border: 1px solid #e8f6ea;
  background-color: #e8f6ea;
  border-radius: 50%;
  padding: 10px;
}
.banner-b2 {
  width: 100%;
  height: 200px;
  position: relative;
  margin-bottom: 100px;
}

.banner-b2 img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.banner-b2 div {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-b2 p {
  margin-bottom: 20px;
  font-weight: bold;
}
.banner-b2 .two {
  font-size: 25px;
}
.banner-b2 button {
  padding: 1rem;
  font-style: italic;
  border-radius: 8px;
  border: transparent;
}
.banner-b2 button:hover {
  cursor: pointer;
  color: white;
  background-color: red;
}

.one {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.deals {
  margin-bottom: 4rem;
}
.one div {
  width: calc(100% / 2.1);
  height: 300px;
  position: relative;
}
.one div img {
  width: 100%;
  height: 100%;
}
.one span {
  position: absolute;
  left: 5%;
  top: 30%;
  color: white;
}
.one span p {
  margin-bottom: 10px;
}
.one span h3 {
  margin-bottom: 10px;
}
.one span button {
  cursor: pointer;
  font-style: italic;
  font-weight: bold;
  color: white;
  background-color: transparent;
  padding: 10px;
  border: 1.5px solid white;
}
.one span button:hover {
  background-color: #088178;
}

.two {
  display: flex;
  justify-content: space-between;
}
.two div {
  width: calc(100% / 3.2);
  height: 200px;
  position: relative;
}

.two div img {
  width: 100%;
  height: 100%;
}
.two div span {
  position: absolute;
  left: 6%;
  top: 40%;
}

.two h2 {
  color: white;
}
.two p {
  color: #ec544e;
  font-weight: bold;
}

.b-14 {
  margin-bottom: 5rem;
  width: 100%;
  height: 10rem;
  background-color: rgb(7, 7, 77);
  background-image: url(./banner/b14.png);
}
.b-14 img {
  width: 100%;
}

.sign-up {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.email {
  display: flex;
  flex-direction: row;
}
.email input {
  padding: 0 1rem;
  height: 3rem;
  width: 20rem;
}
.email button {
  padding: 1rem;
  width: 6.5rem;
  height: 3rem;
  color: white;
  background-color: #088178;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 2rem;
  margin-bottom: 5rem;
}

footer div {
  display: flex;
  flex-direction: column;
  flex: 0 0 30%;
  justify-content: space-between;
}
.mix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mix div {
  flex: 0 0 40%;
}
.mix a {
  text-decoration: none;
  margin-bottom: 1rem;
  color: #222;
}
.mix a:hover {
  color: rgb(105, 105, 221);
}
.install-app p {
  margin-bottom: 1rem;
}
.install-app img {
  border: 1px solid black;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
footer h3 {
  margin-bottom: 1rem;
}
.social span i {
  margin-right: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
}
.social span i:hover {
  color: #465b52;
}

main {
  text-align: center;
  margin-bottom: 4rem;
}

/* CSS OF SHOP PAGE */
/* CSS OF SHOP PAGE */

.stayhome {
  text-align: center;
  height: 18rem;
  margin-top: 4rem;
  position: relative;
  margin-bottom: 3rem;
  background-image: url(./banner/b1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.stayhome SPAN {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.stayhome h3 {
  font-size: 3rem;
  margin-bottom: 1.2rem;
}
.stayhome p {
  font-size: 1.5rem;
}
.f-shop {
  margin-bottom: 5rem;
}
.flech {
  text-align: center;
  margin-bottom: 5rem;
}
.flech a {
  background-color: #088178;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
}
.readmore {
  background-image: url(./banner/b19.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.gown {
  width: 80vw;
  margin: 6rem auto;
  height: auto;
}
.gown article {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  height: 21rem;
}

.gown article div {
  flex: 0 0 calc(50% - 1.5rem);
}
.b1-blog {
  background-image: url(./blog/b1.jpg);
}

.content {
  align-self: center;
}
.content p {
  margin: 2rem 0;
  color: #465b52;
}
.content a {
  text-decoration: none;
  color: black;
}
.content a:hover {
  color: rgb(0, 81, 255);
}

.b2-blog {
  background-image: url(./blog/b2.jpg);
}
.b3-blog {
  background-image: url(./blog/b3.jpg);
}
.b4-blog {
  background-image: url(./blog/b4.jpg);
}
.b5-blog {
  background-image: url(./blog/b5.jpg);
}
.boog {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.konows {
  text-align: center;
  height: 18rem;
  margin-top: 4rem;
  position: relative;
  margin-bottom: 3rem;
  background-image: url(./about/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.whoaweare {
  width: 80vw;
  margin: 4rem auto;
}
.whoaweare article {
  height: 22rem;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
.a6 {
  background-image: url(./about/a6.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.whoaweare article div {
  flex: 0 0 calc(50% - 1rem);
}
.inform {
  align-self: center;
}
.inform p {
  margin: 2rem 0;
}
.inform h2 {
  font-size: 3.5rem;
}
.dashed {
  text-decoration: dotted;
  text-decoration-line: underline;
}

marquee {
  background-color: #ddd;
}
.download {
  margin: 0 auto;
  width: 70vw;
  margin-bottom: 9rem;
}
.download h1 {
  text-align: center;
  margin-bottom: 2rem;
}

video {
  width: 100%;
  border-radius: 2rem;
}

.categ-about {
  width: 80vw;
  flex-wrap: wrap;
  margin: 0 auto;
  row-gap: 3rem;
  margin-bottom: 8rem;
}
.maps {
  width: 87vw;
  margin: 0 auto 5rem;
}
.maps article {
  display: flex;
  justify-content: space-between;
}
.maps div {
  flex: 0 0 calc(50% - 1rem);
}
.map {
  width: 100%;
}
.maps h3 {
  font-size: 2.2rem;
  margin: 1.7rem 0;
}
.maps h2 {
  margin-bottom: 1.5rem;
}

.maps span {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 0.9rem;
}
.maps span p {
  color: #465b52;
}

.forms {
  border: 1px solid #465b52;
  width: 90vw;
  margin: 0 auto 3rem;
}

.forms aside {
  width: 80vw;
  margin: 8rem auto;
  display: flex;
  justify-content: space-between;
}
.leave {
  width: 50vw;
}
.leave h2 {
  margin: 2rem 0;
}
.leave main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.leave main input {
  border: 1px solid #465b52;
  padding: 1rem 1.8rem;
  outline: none;
}

.leave main textarea {
  outline: none;
  border: #465b52 1px solid;
}
.leave button {
  background-color: #088178;
  color: white;
  font-style: italic;
  padding: 0.8rem;
  border-radius: 7px;
  width: 8rem;
  border: none;
}
.poeple {
  align-self: center;
}

.poeple span {
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;
}
.poeple h3 {
  margin-bottom: 0.5rem;
}
.poeple p {
  margin-bottom: 0.6rem;
  color: #465b52;
}

.table {
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 6rem;
}
table {
  width: 100%;
  text-align: center;
}
thead tr th {
  border-top: #ddd 1px solid;
  border-bottom: #ddd 1px solid;
  padding: 1rem;
}
td {
  height: 7rem;
}
td a {
  color: black;
}
td img {
  height: 80%;
}
tbody input {
  width: 4rem;
  height: 2rem;
  padding: 1rem;
  border: 1px solid black;
  outline: none;
}

.break {
  width: 100%;
  height: 1.5rem;
  background-color: #e3e6f3;
}
.coupon {
  width: 85vw;
  margin: 4rem auto 10rem;
  display: flex;
  justify-content: space-between;
}
.coupon div {
  flex: 0 0 calc(50% - 3rem);
}

.apply h3 {
  margin-bottom: 1.5rem;
}
.apply input {
  width: 20rem;
  padding: 1rem;
  border: #465b52 solid 1px;
  outline: none;
}
.apply button {
  padding: 1rem;
  background-color: #088178;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}

.total {
  border: 1px solid #ddd;
  padding: 2rem;
}
.total caption {
  text-align: start;
  font-weight: bold;
  font-size: 2rem;
}
.total table td {
  border: #ddd 1px solid;
  text-align: start;
  padding: 1rem;
  height: auto;
}
.total button {
  color: white;
  background-color: #088178;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 430px) {
  .section-center {
    width: 90%;
  }
  header nav {
    display: none;
  }
  header span {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  header span i {
    align-self: end;
    font-size: 1.6rem;
    color: black;
  }

  .cover {
    background-position: 61%;
  }
  .cover button {
    color: #088178;
    font-weight: bold;
  }
  .categories {
    flex-wrap: wrap;
    gap: 1rem 0.2rem;
  }
  .categories div {
    flex: 0 0 48%;
  }
  .featured article div {
    flex: 0 0 100%;
  }

  .deals article {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .deals article div {
    flex: 0 0 100%;
    height: 100%;
  }
  .b-14 {
    height: 13rem;
  }
  .sign-up {
    padding: 1rem 0;
  }
  .email {
    width: 100%;
  }

  footer div {
    flex: 0 0 100%;
  }
  .cara-contact p {
    margin-bottom: 0.5rem;
  }
  main {
    margin: 2rem auto;
  }
  .gown {
    width: 100%;
    padding: 0 1rem;
  }
  .gown article {
    flex-direction: column;
    height: 40rem;
    margin-bottom: 2rem;
  }

  .gown div {
    flex: 0 0 100%;
  }
  .stayhome span {
    width: 100%;
  }
  .stayhome h3 {
    font-size: 2rem;
  }
  .stayhome p {
    font-size: large;
  }
  .whoaweare {
    width: 100%;
    padding: 0 1rem;
  }
  .whoaweare article {
    flex-direction: column;
  }
  .whoaweare article div {
    flex: 0 0 100%;
  }
  .inform h2 {
    font-size: 2rem;
    margin-top: -2rem;
  }
  .download {
    width: 100%;
    padding: 1rem;
    margin-top: 20rem;
    margin-bottom: 1rem;
  }
  .categ-about {
    margin-bottom: 3rem;
  }
  .maps {
    width: 100%;
    padding: 0 1rem;
  }
  .maps article {
    flex-direction: column;
    gap: 1rem;
  }

  .forms aside {
    flex-wrap: wrap;
    margin: 1rem auto;
  }
  .forms aside div {
    gap: 1rem;
  }
  .leave {
    margin-bottom: 2.5rem;
    flex: 0 0 100%;
  }
  .table {
    border-collapse: collapse;
    table-layout: fixed;
    overflow-x: auto;
    width: 100%;
    padding: 0 1rem;
  }

  .coupon {
    width: 100%;
    padding: 0 1rem;
    flex-wrap: wrap;
    row-gap: 2rem;
  }

  .coupon div {
    flex: auto;
  }
}
